* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 16px;
    background-color: #e2d4f0;
    border-bottom: 1px solid #2d035c;
}

header h1 {
    color: #2d035c;
}

header div {
    justify-self: center;
}

.lado-a-lado {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

.lado-a-lado img {
    width: 60px;
    height: auto;
}

nav {
    justify-self: center;
}

nav ul {
    display: flex;
    gap: 45px;
    list-style: none;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    color: #4b0c92;
    font-weight: 550;
}

nav a:hover {
    transform: scale(1.05);
    color: #6a16ca;
}

main h2 {
    text-align: center;
    margin-top: 40px;
    color: #2d035c;
    font-size: 32px;
}

.grid-favoritos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 85%;
    margin: 40px auto;
}

.card-fav {
    background-color: #f1f1f1;
    border: 2px solid #4b0c92;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-fav h3 {
    font-size: 26px;
    color: #2d035c;
    margin-bottom: 12px;
    text-align: center;
    font-style: italic;
}

.card-fav img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 15px;
}

.card-fav p {
    font-size: 16px;
    color: black;
    line-height: 1.4;
    margin-bottom: 15px;
    width: 95%;
}

.vazio {
    grid-column: 1 / -1;
    text-align: center; 
    font-size: 18px; 
    font-weight: bold;  
    margin-top: 30px;
}

.remover {
    background-color: #bc0517;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: transform 0.2s, background-color 0.2s;
    margin-top: auto;
}

.remover:hover {
    background-color: rgb(215, 46, 63);
    transform: scale(1.05);
}